<div class="box">
<!-- 	<div class="leftBox">
		<div class="menu">全局</div>
		<div class="menu">应变-温度测点</div>
		<div class="menu">风压测点</div>
		<div class="menu">结构变形-GNSS测点</div>
		<div class="menu">气象站</div>
	</div> -->
	<div class="middle">
		<div class="direction">
			<i class="fa fa-compass fa-rotate-100"></i>
		</div>
		<div class="content">
			<div class="side">
				<img class="base" [ngClass]="{'activation':targetId===1}" src="{{base[0].img}}">
				<img class="base" [ngClass]="{'activation':targetId===2}" src="{{base[1].img}}">
				<img class="base" [ngClass]="{'activation':targetId===3}" src="{{base[2].img}}">
				<img class="base" [ngClass]="{'activation':targetId===4}" src="{{base[3].img}}">
				<img class="base" [ngClass]="{'activation':targetId===5}" src="{{base[4].img}}">
				<img class="base" [ngClass]="{'activation':targetId===6}" src="{{base[5].img}}">
				<img class="base" [ngClass]="{'activation':targetId===7}" src="{{base[6].img}}">
				<img class="base" [ngClass]="{'activation':targetId===8}" src="{{base[7].img}}">
				<img class="base" [ngClass]="{'activation':targetId===9}" src="{{base[8].img}}">
				<img class="base" [ngClass]="{'activation':targetId===10}" src="{{base[9].img}}">
				<img class="base" [ngClass]="{'activation':targetId===11}" src="{{base[10].img}}">
				<img class="base" [ngClass]="{'activation':targetId===12}" src="{{base[11].img}}">
				<div class="pointBox">
					<div class="accurate">
						<div *ngFor="let point of pointBase">
							<div *ngIf="point['isUse']===1">
								<div [ngClass]="'point'+point['id']" (click)="choosePoint(point['pointId'],i)">
									<div [ngClass]="{'selected':targetPointId===point['pointId']}">{{point['pointId']}}</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="doBox">
			<div class="left" (click)="turnLeft()">向左</div>
			<div class="right" (click)="turnRight()">向右</div>
		</div>
	</div>
</div>
<app-menu></app-menu>
